nematics/Ken/IO/raw_images/hbec/Trans__s2_0000.tif
nematics/Ken/IO/raw_images/hbec/Trans__s2_0001.tif
nematics/Ken/IO/raw_images/hbec/Trans__s2_0002.tif
nematics/Ken/IO/raw_images/hbec/*.tif
nematics/Ken/IO/raw_images/hbec/csv/*.csv
nematics/Ken/IO/raw_images/test/*
nematics/Ken/IO/raw_images/velocity/*
nematics/_bacteria/hbec_images/raw/test_flow/flow_0.png
nematics/_bacteria/hbec_images/raw/test_flow/flow_1.png
nematics/_bacteria/hbec_images/raw/test_flow/Trans__281.tif
nematics/_bacteria/hbec_images/raw/test_flow/Trans__290.tif
nematics/_bacteria/hbec_images/raw/test_flow/Trans__299.tif
.idea/inspectionProfiles/profiles_settings.xml
.gitignore
.gitignore
.idea/modules.xml
.idea/misc.xml
.idea/nematics.iml
.idea/vcs.xml
nematics/Ken/IO/raw_images/orientation/*
nematics/Ken/rotated_image.jpg
nematics/Ken/test_from_0.png
nematics/Ken/IO/raw_images/velocity_around_defect/test.npy
/nematics/Ken/IO/raw_images/
/nematics/Ken/IO/
